body{
    height: 100vh;
    background-image: url("./Assets/Cepelak_pozadi_mobil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    color: #ff7425;
    padding-top: 8%;
    position: relative;
}

/*navbar*/

.navbar{
    background-color: transparent;
    padding: 2% 5%;
    transition: background-color 200ms ease-in-out;
}
.navbar-dark .navbar-brand{
    color: #ff7425;
    font-weight: 700;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#navitems .nav-item .nav-link{
    color: rgb(255, 255, 255, 1);
}

#navitems .nav-item .nav-link:hover{
    color: #ff7425;
}
.navbar.scrolled {
    background-color: #242424;
  
  }
  .navbar.scroll {
    background-color: #242424;
  
  }

  .nav-link.active {
    color: #ff7425 !important;
    
  }
 /*
.navbar-nav{
    background-color: #222222;
    width: fit-content;
    padding: 10px;

}
*/


/*hero */

.hero{
    scroll-margin-top: 155px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 3rem;
    
}
.hero-section{
    width: 100%;
}
.title{
    color: white;
    font-size: 10vw;
    font-weight: 900;
}
.podtitle{
    display: inline-block;
    vertical-align: middle;
    font-size: 10vw;
    font-weight: 900;
    
}
.hero-section p{
    font-size: 2.5vw;
    color: white;
}
.hero-button{
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    color: #ff7425;
    border: 2px solid #ff7425;
    font-size: 2.5vw;
    padding: 1.5vw 3vw;
    transition: all 0.2s ease-in-out;
}
.hero-button:hover{
   background-color: #ff7425;
   color: white;
}
.hero-section a{
    display: inline-block;
    max-width: fit-content;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 8px;
}

.computer{
    margin-top: 7%;
    max-width: 62%;
    margin-bottom: -30px;
}


/*proc my*/

.why{
    scroll-margin-top: 50px;
    background-color: white;
    height: fit-content;
    padding: 10%;
    text-align: center;
}
.why h2{
    color: black;
    font-size: 2.1em;
    font-weight: 1000;
    margin-bottom: 10%;
}

.why-text{
    text-align: start;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 18pt;
    margin-bottom: 10%;
}
.why-foto{
    object-fit: cover;
    width: 80%;
    height: 45%;
    border: 5px solid #ff7425;
    box-shadow: black 10px 10px;
}

/*about*/

.about{
    scroll-margin-top: 40px;
    padding: 10%;
    text-align: start;
}
.about h2{
    color: #ff7425;
    font-size: 2.1em;
    font-weight: 1000;
    margin-bottom: 10%;
}
.about-text{
    color: white;
    text-align: start;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 18pt;
    margin-bottom: 7rem;
}
.about-foto{
    display: none;
    object-fit: cover;
    border: 5px solid #ff7425;
    box-shadow: black 10px 10px;
}
.about-card{
    margin-bottom: 80px;
}
.icon{
    max-width: 100px;
    margin-bottom: 20px;
}
.about-card-title{
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 40px;
}
.about-card-text{
    color: white;
    width: 100%;
    margin: 0;
    text-align: start;
    
}


/*reference*/

.reference{
    scroll-margin-top: 40px;
    background-color: white;
    height: fit-content;
    padding-top: 5rem;
    text-align: center;
    padding-bottom:5rem ;
}
.reference h2{
    color: black;
    font-size: 2.1em;
    font-weight: 1000;
    margin-bottom: 5%;
}
.reference-mid{
    width: 100%;
    height: fit-content;
    background-color: rgb(233, 233, 233);
    padding: 25px;
}
.reference-foto{
    height: 110px;
    border: 1px solid #ff7425;
    border-radius: 50%;
    margin-bottom: 25px;
}

.ref-name{
    color: black;
    font-size: 0.8em;
    font-weight: 600;
    margin-bottom: 0;
}
.ref-occ{
    font-size: 0.8em;
    font-weight: 800;
}
.ref-text{
    color: black;
    font-size: 1.1em;
    font-weight: 600;
    text-align: start;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 2rem;
    line-height: 18pt;
    max-height: 200px;
}
.arrows{
    width: 5rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.arrows img{
    width: 35px;
    background-color: #ff7425;
    border-radius: 50%;
    padding: 9px;
}
.arrows button{
    all: unset;
    cursor: pointer;
}
.ref-icons{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 120px 120px;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.ref-icons img{
    width: 75%;
}
.carousel{
    overflow: hidden;
}
.carousel-item{
    overflow: hidden;
}


/*cenik*/
.prices-grid{
    display: grid;
    row-gap: 5rem;
}
.prices-grid-item{
    display: flex;
    flex-direction: column;
    text-align: start;
    row-gap: 10px;
}
.prices-grid-item p, .prices-grid-item h3{
    color: white;
}
.prices-grid-item button{
    font-size: 1.2em;
    width: fit-content;
}
.poptat{
    font-size: 1.2em;
    font-weight: bold;
    background-color: #ff7425;
    color: white;
    transition: color 0.3s ease-in-out;
    margin-top: 5rem;
}
.poptat:hover{
    color: black;
}
.container a{
    margin-top: 5rem;
    display: inline-block;
}
#prices a{
    margin-top: 0;
}

/*kariera*/
.career p, .career h4{
    color: black;
}
.career p{
    font-weight: 700;
}
.career-foto{
    width: 100%;
    height: 15rem;
    margin-top: 3rem;
}
.career-flex{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.work{
    position: relative;
    width: 100%;
    display: flex;

}
.positions{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.work h4{
    font-weight: 800;
}
.work p{
    margin: 0;
}
.work a{
    position: absolute;
    bottom: 0;
    right: 0;
}
.work a button{
    font-size: 1em;
}



/*kontakt*/
.form{
    background-color: #ff7425;
    width: 100%;
    height: 300px; /* to do */

}
.contact-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.contact-info > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    text-align: start;

}
.contact-info div h3, .contact-info div p{
    color: white;
}
.contact-info div h3{
    display:inline-block;
    font-size: 1.1em;
    font-weight: bold;
    margin-block-end: 0.5rem;
    writing-mode: horizontal-tb;
}
.contact-info div p{
    margin-bottom: 0.5rem;
    -webkit-text-fill-color: white;
}
.partners div{
    margin-top: 2rem;
}
.partners img{
    width: 7rem;
    margin: 0 5px;
}
.partners div a {
    margin-top: 0;
    color: white;
}
.partners div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.footer{
    margin-top: 5rem;
}
.footer p{
    text-align: center;
}
.footer a{
    color: white;
    margin: 0;
}
#contact a{
    margin-top: 0;
    transition: color 0.1s ease-in-out;
}

#contact a:hover{
    color: #ff7425;
    
}




/**/
@media only screen and (min-width: 992px) {
    body{
        background-image: url("./Assets/Cepelak_pozadí_pc.png");

    }
    .navbar{
        height: 100px;
    }
    .navbar-dark .navbar-brand{
        font-size: 2em;
    }

    .hero{
        flex-direction: row;
    }
    .hero p{
        font-size: 0.9em;
    }
    .computer{
        margin-top: 0;
        width: 40%;
        margin-right: 5%;
    }
    .title{
        font-size: 4em;
    }
    .podtitle{
        font-size: 4em;
    }
    .hero-button{
        font-size: 1em;
        padding: 8px 20px;
        
    }
    .hero-section a{
        margin-left: 20px;
        margin-right: 10px;
    }
    .hero-section{
        margin-bottom: 10%;
    }
    .navbar-nav{
        margin-left: auto; 
    }
    #navitems .nav-item{
        margin-right: 1.2rem;
        margin-left: 1.2rem;
    }
    #navitems .nav-item .nav-link{
        color: rgb(255, 255, 255, 1);
        padding-left: 0rem;
        position: relative;
    }
    #navitems .nav-item .nav-link.active::before{
        display: block;
        content: "\00a0 ";
        background-color: #ff7425;
        border-radius: 50%;
        font-size: 2em;
        height: 7px;
        width: 7px;
        position: absolute;
        left: -20px;
        top: 16px;
    }

    .why{
        scroll-margin-top: 100px;
        height: 50%;
        padding: 5%;
    }
    .why h2{
        margin-bottom: 3rem;
    }
    .why-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

    }
    .why-text{
        width: 45%;
        font-size: 1.3em;
        line-height: 22pt;
        margin-bottom: 0;
    }
    .why-foto{
        width: 45%;
        height: 13rem;
        max-height: 50%;
    }

    
    .about{
        scroll-margin-top: 100px;
        padding: 5%;
        text-align: center;
    }
    .about h2{
        margin-bottom: 5rem;
    }
    .about-foto{
        display: block;
        float: right;
        width: 48%;
        height: 15rem;
        border: 3px solid white ;
        box-shadow: #ff7425 15px 15px;
        
    }
    .about-text{
        font-size: 1.2em;
        line-height: normal;
        text-align: end;
        width: 48%;
        margin-bottom: 20%;
        margin-top: 12%;
    }
    .icon-flex{
        display: flex;
        flex-direction: row;
        margin-top: 5rem;
    }
    .icon{
        max-width: 80px;
    }
    .about-card-title{
        font-size: 1.5em;
    }
    .about-card{
        margin-bottom: 0;
    }
    .about-card-text{
        width: 80%;
        margin: auto;
    }


    .reference{
        scroll-margin-top: 100px;
        padding-top: 5rem;
    }
    .reference h2{
        margin-bottom: 5rem;
    }
    .reference-mid{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
        padding-right: 4rem;   
        padding-bottom: 0;
    }
    .reference-foto{
        height: 13rem;
    }
    .ref-name{
        font-size: 1em;
        margin-bottom: 0.5rem;
    }
    .ref-occ{
        font-size: 1em;
    }
    .text-arrows{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 5rem;
    }
    .ref-box{
        float: left;
        width: 19rem;
    }
    .ref-text{
        float: right;
        font-size: 1.4em;
        line-height: 22pt;
        margin-top: 2rem;
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
    .arrows{
        
        z-index: 3;
        height: 5rem;
        width: 6.5rem;
        margin-top: -70px;
        margin-bottom: 1rem;
        margin-left: 19rem;
    }
    .arrows img{
        width: 45px;
        padding: 11px;
    }

    .ref-icons img {
        width: 65%;
    }




    .prices-grid{
        grid-template-columns: 40% 40%;
        row-gap: 10rem;
        justify-content: space-around;
    }
    .prices-grid-item button{
        font-size: 1.5em;
        width: 10rem;
    }
    .poptat{

        font-size: 1.5em;
    }
    .container a{
        margin-top: 10rem;
    }


    .career{
        height: fit-content;
    }
    .career-flex{
        flex-direction: row;
        column-gap: 3rem;
        margin-top: 5rem;

    }
    .career-foto{
        width: 100%;
        height: 12rem;
        margin: 0;
    }
    .positions p{
        font-size: 1.2em;
    }


    .contact-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        position: relative;
        margin-bottom: 6rem;
    }
    .form{
        width: 40%;
    }
    .contact-info{
        align-items: start;
        margin-top: 0;
    }
    .contact-info h2{
        margin-bottom: 2rem;
    }
    #partners{
        flex-direction: column-reverse;
    }
    .partners div:last-child{
        flex-direction: column;
        width: 100%;
    }
    .partners img{
        width: 8rem;
        margin-left: 0;
        margin-right: 1rem;
    }
    .footer{
       position: absolute;
       left: 50%;
       transform: translate(-50%);
       bottom: -6rem;
    }
    .footer p a{
        margin: 0;
    }
  }
  



  /**/
  @media only screen and (min-width: 1400px) {
    #navitems .nav-item{
        font-size: 1.2em;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }
    #navitems .nav-item .nav-link.active::before{

        top: 19px;
    }
   
    .hero{
        flex-direction: row;

    }
    .hero-section{
        margin-left: 5%;
        text-align: start;
    }

    .computer{
        width: 45%;
        margin-right: 5%;
        margin-bottom: -50px;
    }
    .title{
        font-size: 6em;
    }
    .podtitle{
        font-size: 6em;
    }
    .hero-button{
        font-size: 1.3em;
        padding: 10px 35px;
        
    }
    .hero-section a{
        max-width: fit-content;
        margin-left: 35px;
        margin-right: 15px;
    }
    .hero p{
        font-size: 1.3em;  
       
    }

    .why{
        height: fit-content;
        padding-left: 0;
        padding-right: 0;
    }
    .why h2{
        font-size: 3.5em;
    }
    .why-foto{
        width: 45%;
        height: 17rem;
        max-height: 100%;
        
    }
    .why-text{
        font-size: 1.7em;
        line-height: 24pt;
        width: 48%;

    }
    
    .about h2{
        font-size: 3.5em;
    }
    .about-foto{
        width: 45%;
        height: 17rem;
        max-height: 100%;
    }
    .about-text{
        font-size: 1.4em;
        line-height: normal;
        text-align: end;
        width: 48%;
        margin-bottom: 15%;
        margin-top: 10%;
    }
    .icon-flex{
        margin-bottom: 2rem;
    }
    .icon{
        max-width: 100px;
    }
    .about-card-title{
        font-size: 1.8em;
    }
    .about-card-text{
        width: 80%;
    }


    .reference{
        padding-bottom: 9rem;
    }
    .reference h2{
        font-size: 3.5em;
    }
    .reference-mid{
        padding: 3rem 4rem;
    }
    .ref-box{
        width: 24rem;
    }
    .ref-box h6{
        font-size: 1.1em;
    }
    .ref-text{
        font-size: 1.8em;
        line-height: normal;
        margin-top: 2rem;
    }
    .arrows{
        width: 9rem;
        margin-left: 24rem;
    }
    .arrows img{
        width: 60px;
        padding: 16px;
    }
    .ref-icons{
        margin-top: 9rem;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 120px;
    }
    .ref-icons img{
        width: 85%;
    }
    

    .prices-grid{
        justify-content: space-between;
    }
    .prices-grid-item button{
        width: 12rem;
    }
    .poptat{
        font-size: 2em;
    }

    .career-foto{
        width: 100%;
    }
    .work h4{
        font-size: 2em;
    }
    .career p {
        font-size: 1.5em;
    }
    .positions p{
        font-size: 1.6em;
    }

    
    .form{
        height: 500px; /*to do*/
    }
    .contact-info{
        margin-top: 0;
    }
    .contact-info h2{
        font-size: 3.5em;
    }
    .contact-info > div{
        align-items: start;
        row-gap: 2rem;
    }
    .contact-info div h3{
        font-size: 1.5em;
    }
    .contact-info div p{
        font-size: 1.5em;
    }
    #footer p{
        font-size: 1em;
    }
  }